*{
	margin: 0;
	padding: 0;
    
}
body {
	margin: 0;  padding: 0;  margin-bottom: 15px;  margin-top: 8px;
	background: #77b;
}
body, td {
	font: 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	}
.page-loader
{
	
}
.responsive-sidebar-menu
{

}