*
{
    margin: 0%;
    padding: 0%;
   
}
.rect
{
    width: 1527px; 
    height: 52px; 
    background-color: rgba(86.28, 82.68, 82.68, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    
}
.tria
{
    width: 468px; 
    height: 795px; 
    border-radius: 20px;
    text-align: center;
    
    
    
}
div
{
	justify-content: space-between;
	font-weight: bold;
}
.MN
{
	width: 468px; 
    height: 795px; 
    background-color: rgb(87, 83, 83); 
    border-radius: 20px;
    padding-left: 20px;
    color: rgb(245, 242, 242);
	position: relative;
}
p
{
	position: absolute;
	left: 10%;
	transform: translate(-10%, 30%);
    font-size: 50px;
    
}
h1
{
	position: absolute;
	left: 75%;
	transform: translate(-10%, 120%);
    font-size: 15px;
}
img
{
	height: 250px;
	width: auto;
	transform: translate(-10%, 50%);
	left: 75px;
	padding-left: 60px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;


}
