*{
    margin: 0;
    padding: 0;
    background-color: rgb(14, 14, 14);
}
.rect
{
    width: 1527px; 
    height: 52px; 
    background-color: rgba(86.28, 82.68, 82.68, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    
}
.tria
{
    width: 468px; 
    height: 795px; 
    background-color: rgba(36.34, 29.07, 29.07, 1); 
    border-radius: 20px;
    text-align: center;
    color: brown;
    
}
